%h1
  Food Menu - #{@category.name}
= render 'searchform'
%ul
  %li= link_to 'All', foodmenu_path
  - @categories.each do |category|
    %li= link_to category.name, foodmenu_category_path(category)
- @category.products.each do |product|
  %section
    .foodmenu_item
      %h3= link_to product.name, foodmenu_show_path(product)
      = image_tag product.image_filename, :class => "food_menu_image"
      .foodmenu_item_details
        %p= product.description
        %p
          %strong= number_to_currency product.price
          \- #{product.category.name}
  .clear
.clear
%section.foodmenu_footer
  %p= link_to 'Return to Food Menu', foodmenu_path