<h1>Food Menu - <%= @category.name %></h1>

<%= form_tag(foodmenu_path, :method => "get", id: "search") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Food Menu..." %>
  <%= select_tag "category_id", content_tag(:option,'',:value=>"")+options_from_collection_for_select(Category.all, "id", "name") %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<ul>
  <li><%= link_to 'All', foodmenu_path %></li>
<% @categories.each do |category| %>
  <li><%= link_to category.name, foodmenu_category_path(category) %></li>
<% end %>
</ul>

<% @category.products.each do |product| %>
  <section>
    <div class="foodmenu_item">
      
      <h3><%= link_to product.name, foodmenu_show_path(product) %></h3>
      <%= image_tag product.image_filename, :class => "food_menu_image" %>
      <div class="foodmenu_item_details">
        <p><%= product.description %></p>
        <p><strong><%= number_to_currency product.price %></strong> - <%= product.category.name %></p>
      </div>
    </div>
  </section>
  <div class="clear"></div>
<% end %>
  
  
  
  <div class="clear"></div>
  <section class="foodmenu_footer">
    <p><%= link_to 'Return to Food Menu', foodmenu_path %></p>
  </section>
