%h1 Food Menu
= form_tag(foodmenu_path, :method => "get", id: "search") do
  = text_field_tag :search, params[:search], placeholder: "Search Food Menu..."
  = select_tag "category_id", content_tag(:option,'',:value=>"")+options_from_collection_for_select(Category.all, "id", "name")
  = submit_tag "Search", :name => nil
%ul
  - if params[:search]
    %li= link_to 'Display All', foodmenu_path
  - @categories.each do |category|
    %li= link_to category.name, foodmenu_category_path(category)
.clear
- if !params[:search]
  = paginate @products
.clear
- if @products.count == 0
  %p= "Sorry, no results found"
- @products.each do |product|
  %section
    .foodmenu_item
      %h3= link_to product.name, foodmenu_show_path(product)
      = image_tag product.image_filename, :class => "food_menu_image"
      .foodmenu_item_details
        %p= product.description
        %p
          %strong= number_to_currency product.price
          \- #{product.category.name}
  .clear
.clear
%section.foodmenu_footer
  %p= link_to 'Return to Main Menu', root_path