<!DOCTYPE html>
<html>
<head>
  <title>Graeme's Sports Bar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="wrapper">
    
    <div id="gsb_header">
      <%= image_tag "logo.png", :class => "logo" %>
      <p class="datetime"><%= Time.now.to_s(:long_ordinal) %></p>
    </div>
    <div class="clear"></div>

    <div id="content">
      <%= yield %>
    </div>
    
    <div id="gsb_footer">
      Copyright 2014 - Graeme Skinner
    </div>
    

  </div>
</body>
</html>
